registry.mydomain.com {
    tls me@mydomain.com
    proxy / registry:5000 {
        transparent
    }
}

ldapadmin.mydomain.com {
    tls me@mydomain.com
    proxy / https://ldapadmin:443 {
        transparent
        insecure_skip_verify
    }
}

cloud.mydomain.com {
    tls me@mydomain.com
    proxy / nextcloud:80 {
        transparent
    }
}

mail.godev.team {
    tls me@mydomain.com {
        key_type rsa2048
    }
}

code.mydomain.com {
    tls me@mydomain.com
    proxy / code:3000 {
        transparent
    }

    mime .svg image/svg+xml
}

drone.mydomain.com {
    tls me@mydomain.com
    proxy / drone:80 {
        websocket
        transparent
    }

    mime .svg image/svg+xml
}

graf.mydomain.com {
    tls me@mydomain.com
    proxy / grafana:3000 {
        transparent
    }
}
